* {
  padding: 0px;
  margin: 0px;
  -ms-overflow-style: "none";
  scrollbar-width: "none";
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

body input {
  padding: 0px 8px 0px 8px;
}

body {
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: white;
  align-items: center;
  border-bottom: 2px solid whitesmoke;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 120;
}

.navbar-right > span {
  margin-right: 35px;
  cursor: pointer;
  position: relative;
  margin: 0px 5px 0px 8px;
}

/* Login */

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-height: 450px;
  max-width: 500px;
  margin: 10px 10px 10px 10px;
  padding: 0px 0px 20px 0px;
}

.login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login > div {
  width: 100%;
  padding: 0px 5px 0px 5px;
}

.login input,
button,
.login-text {
  margin-bottom: 30px;
  height: 40px;
  width: 100%;
  max-width: 300px;
  margin: 0px 5px 30px 5px;
}

.login button {
  color: white;
  background-color: #202122;
  padding: 0px 10px 0px 10px;
  max-width: 310px;
}

.login-text,
.cart-items-text {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

.login-form {
  margin-bottom: 100px;
  display: block;
}

/*Product */

.product {
  width: 32%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 2px;
  margin-top: 40px;
}

.product-info > span,
.product-info > div {
  margin-top: 5px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-img {
  position: relative;
}

/*Product like*/
.product-like {
}

.product-add-to-cart {
  text-align: center;
  cursor: pointer;
  position: absolute;
  border: solid 1px whitesmoke;
  color: black;
  background-color: white;
  padding: 3px;
  bottom: 10px;
  left: 10px;
  /* display: none; */
}

/* App */
.app-content {
  display: flex;
}

.app-content-center {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.app-content-left {
  flex: 0 0 250px;
}

.content > div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1280px) {
  .product {
    width: 24%;
  }
}

@media only screen and (max-width: 768px) {
  .app-content-left {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .product {
    width: 49%;
  }
}

/* cart */
.cart {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  position: relative;
  padding: 2px;
  max-width: 700px;
  width: 100%;
}

.cart-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 130px;
  align-items: center;
  margin-right: 10px;
}

.cart-item > img {
  width: 100%;
  height: 180px;
}

.cart-info {
  flex: 1 1 auto;
  max-width: 400px;
  margin-top: 10px;
  min-width: 200px;
  padding: 5px;
}

.cart-quantity {
  display: flex;
  justify-content: center;
}

/* Cart Items */
.cart-items {
  margin-left: 30px;
  margin-right: 30px;
}

.cart-items-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 30px 50px 30px;
}
.cart-items-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-items-product {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 736px) {
  .cart-items-product {
    min-width: 100%;
    width: 100%;
  }

  .cart {
    min-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .cart-items-product {
    min-width: 100%;
    width: 100%;
    min-height: 250px;
  }

  .cart-info {
    min-width: 100%;
    width: 100%;
  }

  .cart-items-checkout {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }

  .overlay-wrapper {
    min-width: 100%;
  }

  .cart {
    min-width: 100%;
  }
}

.cart-items-checkout {
  flex: 0 0 350px;
  height: 600px;
  max-height: 600px;
  margin-top: 30px;
  padding: 25px 10px 0px 10px;
  box-sizing: border-box;
}

.cart-items-product,
.cart-items-empty {
  flex: 1 1 auto;
  margin-bottom: 40px;
  box-sizing: border-box;
  margin-top: 30px;
  margin-right: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 10px whitesmoke;
  border-radius: 10px;
}

/**Overlay*/

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  width: 100%;
  background-color: rgb(245, 245, 245, 0.4);
  z-index: 100;
  margin-top: 0px 0px 0px 10px;
  box-sizing: border-box;
}

.overlay-wrapper {
  position: relative;
  height: 85%;
  width: 90%;
  background-color: white;
  /* margin-bottom: 60px; */
  box-shadow: 5px 5px 5px 5px rgb(235, 228, 228);
  overflow-y: scroll;
}

.overlay-close {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 40px;
  font-weight: lighter;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .overlay {
    max-width: 100vw;
    max-height: 100%;
    padding: 0px 10px 0px 10px;
  }

  .overlay-wrapper {
    height: 100%;
    width: 100vw;
  }
}

.App {
  position: relative;
}

/* Checkout page  */

.Checkout-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkout-right {
  flex: 1;
  max-width: 400px;
  margin: 0px 5px 0 5px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.checkout-left {
  box-sizing: border-box;
  flex: 2;
  max-width: 700px;
  margin: 0px 5px 0 5px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 767px) {
  .checkout-right {
    min-width: 100%;
  }

  .checkout-left {
    min-width: 100%;
  }
}

/*Personal info */
.cart-items-checkout,
.personal-info,
.billing-info,
.checkoutform {
  margin-bottom: 40px;
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: #fbfbfc;
  background-color: white;
  box-shadow: 0px 0px 10px 10px whitesmoke;
  border-radius: 10px;
}
.personal-info-form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.personal-info-form > div span {
  margin-bottom: 3px;
}

.personal-info-form-submit {
  align-items: center;
}

.personal-info-form > div input,
button {
  height: 45px;
  width: 100%;
}

.personal-info-form > div button {
  background-color: #202122;
  color: white;
}

.personal-info-form input {
  padding: 0px 8px;
  box-sizing: border-box;
  margin-top: 2px;
  border: 1px solid black;
}

/* My page */
.mypage-content {
  display: flex;
  justify-content: center;
}

.mypage-content-left {
  flex: 1 1 auto;
  max-width: 350px;
}

.mypage-content-right {
  flex: 1 1 auto;
  max-width: 700px;
  margin-left: 20px;
  margin-right: 20px;
}

.mypage-content-left {
  box-shadow: #fbfbfc;
  background-color: white;
  box-shadow: 0px 0px 10px 10px whitesmoke;
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
  box-sizing: border-box;
  padding: 5px;
  margin-left: 20px;
  margin-top: 30px;
  height: fit-content;
}

/*Register page */

/*ProductPage*/

.productpage-form {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
  background-color: white;
  box-shadow: 0px 0px 1px 1px whitesmoke;
  border-radius: 10px;
  flex: 0 0 350px;
  max-width: 350px;
  min-width: 350px;
  height: 400px;
  box-sizing: border-box;
  position: relative;
}

.productpage-form select,
option,
button {
  height: 45px;
  width: 100%;
  margin-bottom: 30px;
}

.productpage-left {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-around;
}

.productpage-left > img {
  width: 99%;
}

.productpage-form-image > img {
  height: 80px;
  width: 50px;
  margin-bottom: 30px;
  margin-right: 5px;
}

@media only screen and (min-width: 1280px) {
  .productpage-left > img {
    width: 49%;
  }
}

@media only screen and (max-width: 480px) {
}

.productpage-form-info {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-bottom: 30px;
}

.productpage-right {
  display: flex;
  justify-content: center;
  flex: 1 1 800px;
  max-width: 800px;
  /* min-width: 350px; */
}

.productpage-main {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .productpage-main {
    display: flex;
    flex-direction: column;
  }

  .productpage-form-info {
    font-size: 20px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .productpage-form-image {
    /* display: none; */
  }

  .productpage-form-bottom {
    display: flex;
  }

  .productpage-right,
  .productpage-form {
    min-width: 98%;
    max-width: 98%;
    width: 98%;
    padding-top: 5px;
    flex: 1 1 none;
  }

  .productpage-form {
    box-sizing: border-box;
    height: fit-content;
    position: fixed;
    bottom: 0%;
    margin-left: auto;
    margin-right: auto;
  }

  .productpage-form select,
  button {
    margin-bottom: 5px;
    margin-right: 10px;
  }

  .productpage-form-image > img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}

.loginpage-content {
  display: flex;
  justify-content: center;
  margin-top: 85px;
  padding: 0px 10px 0px 10px;
}
